# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Project file
*.kdev4

# Kdevelop ~ files
*.c~
*.h~
*.cpp~
*.lua~
*.in~
*.txt~
*.md~
*.cmake~

